server:
  port: 8081
spring:
  application:
    name: hmdp
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://xx.xx.xx.xx:3306/hmdp?useSSL=false&serverTimezone=UTC
    username: hmdp
    password: 111111
  redis:
    database: 0
    host: xxx.xxx.xxx.xxx      # Redis服务器地址，修改为你的地址
    port: 6379              # Redis服务器连接端口
    password: xxxxx        # Redis服务器连接密码（默认为空）
    timeout: 3000           # Redis服务器链接超时配置
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 1
        time-between-eviction-runs: 10s
  jackson:
    default-property-inclusion: non_null # JSON处理时忽略非空字段
mybatis-plus:
  type-aliases-package: com.hmdp.entity # 别名扫描包
logging:
  level:
    com.hmdp: debug
  pattern:
    dateformat: mm:ss.SSS