<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdp.mapper.SeckillVoucherMapper">


    <update id="updateDateByVoucherId">
        update tb_seckill_voucher set stock=stock -1  where voucher_id =  #{voucherId} and stock > 0
    </update>
</mapper>
